@import "variables.scss";


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $dark-cyan;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    // Significa q del right empuje el 50% hacia la izq, y del bottom empuje el 50% hacia arriba. Lo contrario del otro lado
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 360px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);

    &-header {
        width: 100%;
        display: block; 
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $dark-gray;

        &-img {
            border: 5px solid white;
            border-radius: 50%;
            margin-top: -53px;
            background-color: white;   
        }

        &-title {
            font-size: 1.5rem;

            span {
                color: $dark-gray;
                font-weight: 400;
                margin-left: 0.7rem;
            }
        }

        &-text {
            margin-top: 0;
            margin-bottom: 2rem;
            color: $dark-gray;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-around;

        &-social {
            text-align: center;
            margin: 1rem 0;

            p {
                color: $dark-gray;
                letter-spacing: 1px;
            }
        }
    }

}